@tailwind base;
@tailwind components;
@tailwind utilities;
@plugin "daisyui";

.animate-slide-in {
  animation: slide-in 0.3s ease-out;
}

@keyframes slide-in {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

.animate-slide-out {
  animation: slide-out 0.3s ease-out;
}

@keyframes slide-out {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
.dot-loading::after {
  display: inline-block;
  animation: dots 1.2s steps(4, end) infinite;
  content: '';
  white-space: pre;
}
