@tailwind base;
@tailwind components;
@tailwind utilities;
@plugin "daisyui";

.animate-slide-in {
  animation: slide-in 0.3s ease-out;
}

@keyframes slide-in {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

.animate-slide-out {
  animation: slide-out 0.3s ease-out;
}

@keyframes slide-out {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
.dot-loading::after {
  display: inline-block;
  animation: dots 1.2s steps(4, end) infinite;
  content: '';
  white-space: pre;
}

@keyframes scroll {
  to { transform: translateX(-50%); }
}


/* Add to your index.css or globals.css */
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animate-gradient {
  animation: gradient 8s ease infinite;
}

@media (hover: none) and (pointer: coarse) {
  .force-hover {
  }
}
  @keyframes slide-up {
    from {
      transform: translateY(100%);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }

  .animate-slide-up {
    animation: slide-up 0.4s ease-out;
  }
